<div>
    <h2 id="page-heading">
        <span jhiTranslate="sgpDbApp.poubelle.home.title">Poubelles</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-poubelle" [routerLink]="['/poubelle/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="sgpDbApp.poubelle.home.createLabel">
            Create a new Poubelle
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="poubelles?.length === 0">
        <span jhiTranslate="sgpDbApp.poubelle.home.notFound">No poubelles found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="poubelles && poubelles.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
<!--                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>-->
                    <th scope="col"  jhiSortBy="ref_okko"><span jhiTranslate="sgpDbApp.poubelle.ref_okko">Ref Okko</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="ref_mineris"><span jhiTranslate="sgpDbApp.poubelle.ref_mineris">Ref Mineris</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="ref_produit"><span jhiTranslate="sgpDbApp.poubelle.ref_produit">Ref Produit</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="localisation.id"><span jhiTranslate="sgpDbApp.poubelle.localisation">Localisation</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let poubelle of poubelles ;trackBy: trackId">
<!--                    <td><a [routerLink]="['/poubelle', poubelle.id, 'view']">{{ poubelle.id }}</a></td>-->
                    <td>{{ poubelle.ref_okko }}</td>
                    <td>{{ poubelle.ref_mineris }}</td>
                    <td>{{ poubelle.ref_produit }}</td>
                    <td>
                        <div *ngIf="poubelle.localisation">
                            {{ poubelle.localisation?.adresse }}
                            <a [routerLink]="['/poubelle', poubelle.localisation?.id, 'localisation']" class="fa fa-info-circle fa-lg" ></a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/poubelle', poubelle.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/poubelle', poubelle.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(poubelle)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="poubelles && poubelles.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
