<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-situation-heading" jhiTranslate="sgpDbApp.situation.home.createOrEditLabel">Create or edit a Situation</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sgpDbApp.situation.date" for="field_date">Date</label>
                    <div class="input-group">
                        <input id="field_date" type="text" class="form-control" name="date" ngbDatepicker #dateDp="ngbDatepicker" formControlName="date"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sgpDbApp.situation.volume" for="field_volume">Volume</label>
                    <input type="number" class="form-control" name="volume" id="field_volume"
                           formControlName="volume"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sgpDbApp.situation.remplissage" for="field_remplissage">Remplissage</label>
                    <input type="number" class="form-control" name="remplissage" id="field_remplissage"
                           formControlName="remplissage"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sgpDbApp.situation.poubelle" for="field_poubelle">Poubelle</label>
                    <select class="form-control" id="field_poubelle" name="poubelle" formControlName="poubelle">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="poubelleOption.id === editForm.get('poubelle')!.value?.id ? editForm.get('poubelle')!.value : poubelleOption" *ngFor="let poubelleOption of poubelles; trackBy: trackById">{{ poubelleOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
