.map-container {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 15%;
  //left: 0;
  //right: auto;
  bottom: 0;
  //margin: 30px;
}

.map-frame {
  position: absolute;
  right: 5%;
  width: 100%;
  height: 100%;
}

#map {
  height: 75vh;
  width: 100%;
  border: 1px solid grey;
  border-radius: 10px;
}
